PHISHGUARD_HOST=0.0.0.0
PHISHGUARD_PORT=5001
PHISHGUARD_DEBUG=false
PHISHGUARD_SECRET_KEY=change-this-secret
PHISHGUARD_LOG_LEVEL=INFO
PHISHGUARD_ENABLE_CORS=false
PHISHGUARD_CORS_ORIGINS=https://yourdomain.com
PHISHGUARD_MAX_CONTENT_BYTES=512000
PHISHGUARD_MAX_URL_LENGTH=2048
PHISHGUARD_MAX_EMAIL_LENGTH=250000
PHISHGUARD_RATE_LIMIT_REQUESTS=120
PHISHGUARD_RATE_LIMIT_WINDOW_SECONDS=60
PHISHGUARD_USE_WAITRESS=true
PHISHGUARD_WAITRESS_THREADS=8
PHISHGUARD_WAITRESS_CONNECTION_LIMIT=1000
PHISHGUARD_WORKERS=2
PHISHGUARD_THREADS=4
PHISHGUARD_TIMEOUT=60
PHISHGUARD_GRACEFUL_TIMEOUT=30
